//----------------------------------------
// Dimensions
//----------------------------------------

$BASE_FONT_SIZE: 16px !default;
$BASE_LINE_HEIGHT: 26px !default;
$REM_LINE_HEIGHT: $BASE_LINE_HEIGHT / $BASE_FONT_SIZE * 1rem;

$MAIN_MENU_HEIGHT: 50px;


//----------------------------------------
// Responsive
//----------------------------------------

$MOBILE_SMALL: 320px;
$MOBILE_SMALL_HEIGHT: 480px;
$MOBILE_WIDTH: 480px;
$MOBILE_MEDIUM: 560px;
$MOBILE_LARGE: 640px;
$TABLET_WIDTH: 768px;
$DESKTOP_WIDTH: 1024px;

$MOBILE_MENU_BP: 950px;

$DESKTOP_LARGE: 1280px;

$MAX_CONTENT_BP: 1440px;


//----------------------------------------
// Fonts
//----------------------------------------

// TODO: those need to be updated once we get final fonts
$PRATT: 'pratt';
$PRATT_BOLD: 'pratt-bold';
$UNIVERS: 'univers';
$UNIVERS_LT: 'univers-lt';

$HEADER_FONT: $UNIVERS, verdana, sans-serif;
$HEADER_FONT_LT: $UNIVERS_LT, verdana, sans-serif;
$BODY_FONT: $PRATT, Helvetica, Arial, serif;


//----------------------------------------
// Colors
//----------------------------------------

$BLACK: #040206;
$WHITE: #FEFCFD;
$WHITE_DARKER: darken($WHITE, 22%);


//----------------------------------------
// Font Weights
//----------------------------------------

$THIN: 100;
$LIGHT: 200;
$REGULAR: 400;
$MEDIUM: 500;
$BOLD: 700;
$EXTRABOLD: 900;

//----------------------------------------
// Directions
//----------------------------------------

$LEFT: left;
$RIGHT: right;
$UP: up;
$DOWN: down;


//----------------------------------------
// Alignments
//----------------------------------------

$CENTER: center;


//----------------------------------------
// Targets
//----------------------------------------

$INLINE: inline;
$BEFORE: before;
$AFTER: after;


//----------------------------------------
// Positions
//----------------------------------------

$RELATIVE: relative;
$ABSOLUTE: absolute;
$FIXED: fixed;


//----------------------------------------
// Z-index Depth
//----------------------------------------

$PRELOADER_Z: 200;
$MENU_Z: 100;
$LOADER_Z: 50;
$COVER_Z: 25;
$PAGE_Z: 10;